.panel,
.panel div,
.panel div span {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.panel {
    max-width: 1320px;
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
}

.logo {
    align-items: center !important;
}
.logo h3 {
    white-space: nowrap;
    margin: 0 0 0 8px;
    display: flex;
    align-items: center;
}

.panel div:first-child {
    max-width: 843px;
    width: 100%;
    display: flex;
    align-items: center;
}

.filter {
    align-items: center !important;
    max-width: 610px;
    width: 100%;
    height: 48px;
    justify-content: flex-start !important;
    border-radius: 8px;
    padding: 0 9px;
    border: 1px solid var(--gray-blue);
    background: var(--white);
    overflow: hidden;
}

.filter input {
    width: 90%;
    cursor: pointer;
    border-top: none;
    border-right: none;
    border-bottom: none;
    height: 32px;
    margin: 0 auto;
    padding-left: 36px;
}

.filter label {
    cursor: pointer;
    width: 100%;
    position: relative;
}
.filter label:before {
    content: "";
    position: absolute;
    top: 0;
    margin-top: 4px;
    bottom: 0;
    width: 24px;
    height: 24px;
    background: url('../../icons//search.svg');
    background-repeat: no-repeat;
}

.buttons a {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    background-color: var(--white);
}
.buttons a:first-child {
    color: var(--blue) !important;
    border-color: var(--gray-blue);
    transition: 0.4s;
}
.buttons a:first-child:hover {
    border-color: var(--blue);
    transition: 0.4s;
}

.buttons a:last-child {
    margin-left: 12px;
    color: var(--white);
    background-color: var(--blue) !important;
    border-color: var(--blue) !important;
    transition: 0.4s;
}
.buttons a:last-child:hover {
    color: var(--blue);
    background-color: var(--white) !important;
    transition: 0.4s;
}

@media (max-width: 1350px) {
    .panel {
        max-width: 1000px;
    }
    .filter {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (max-width: 1070px) {
    .panel div {
        margin: 0 auto;
        padding: 0 30px;
    }
}