.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    margin: 28px 0;
    width: 100%;
    height: 96px;
    display: flex;
    align-items: center;
}

.info img {
    width: 96px;
    height: inherit;
}

.info span {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: inherit;
    margin-left: 24px;
}

.info span h4 {
    display: flex;
    align-items: center;
}
.info span h4 span {
    color: var(--white);
    background-color: var(--success);
    border-radius: 3px;
    padding: 4px 12px;
    margin-left: 8px;
    height: 20px;
}

.title button {
    padding: 16px 32px;
    background-color: var(--blue);
    color: var(--white);
    width: 248px;
    height: 56px;
    transition: 0.4s;
}
.title button:hover {
    background-color: var(--white);
    color: var(--blue);
    transition: 0.4s;
}

@media (max-width: 1330px) {
    .title {
        padding: 0 25px;
    }
}

@media (max-width: 680px) {
    .title {
        margin-bottom: 20px;
    }
    .title {
        flex-wrap: wrap;
        justify-content: center;
    }
}