.auctionItem {
    width: 425px;
    height: 170px;
    user-select: none;
    cursor: pointer;
    border: 1px solid var(--gray-blue);
    padding: 24px;
    border-radius: 8px;
    transition: 0.4s;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.close {
    background-color: var(--active);
    color: var(--white);
}

.auctionItem:hover {
    transition: 0.4s;
    box-shadow: 5px 5px 50px 5px rgba(0, 44, 109, 0.10);
}

.companyInfo {
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.companyInfo img {
    width: 24px;
    height: 24px;
    padding: 12px;
    background-color: var(--gray-blue);
    border-radius: 8px;
}
.companyInfo h5 {
    margin-left: 12px;
}