.container {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
    gap: 50px;
}

.info {
    max-width: 734px;
    width: 100%;
}
.info button {
    background-color: var(--white);
    border: 3px solid var(--blue);
    color: var(--blue);
    font-weight: 600;
    transition: 0.4s;
}
.info button:hover {
    background-color: var(--blue);
    color: var(--white);
    transition: 0.4s;
}

.info div {
    margin: 15px 0;
}

@media (max-width: 1330px) {
    .container {
        padding: 0 25px 30px;
    }
}

@media (max-width: 1319px) {
    .container {
        justify-content: center;
    }
}