.button {
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 8px;
    border-width: 1px !important;
    border-style: solid !important;
    user-select: none;
    cursor: pointer;
    border: none;
}