.navContainer {
    background-color: var(--light-gray);
}

.nav {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;   
}
.nav ul {
    width: max-content;
    display: flex;
    justify-content: space-between;
    list-style: none;
    height: inherit;
    margin: 0;
}
.nav ul li {
    margin: 0 24px 0 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--gray);
    height: inherit;
    display: flex;
    align-items: center;
}
.nav ul li a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul li:hover,
.active {
    color: var(--blue) !important;
    border-bottom: 1px solid var(--blue);
}

.tools {
    width: 280px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.tools p {
    margin-left: 8px;
}

@media (max-width: 1350px) {
    .nav {
        max-width: 1000px;
    }
    .tools {
        justify-content: flex-end;
    }
}

@media (max-width: 1070px) {
    .navContainer {
        padding: 0 30px;
    }
    .nav {
        max-width: 843px;
    }
    .nav ul {
        padding: 0;
    }
}

@media (max-width: 480px) {
    .tools {
        display: none;
    }
}