.container {
    background-color: var(--light-gray);
    padding: 109px 0 100px 0;
}

.mainSearch {
    align-items: center;
}
.mainSearch, .blocks {
    max-width: 1320px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.mainSearch div:first-child {
    max-width: 679px;
    width: 100%;
}
.mainSearch div:last-child img {
    width: 492px;
}

.mainSearch div h4 {
    margin:  24px 0 32px 0;
}

.blocks {
    margin-top: 89px;
}

@media (max-width: 1360px) {
    .container {
        padding: 39px 0 30px 0;
    }
    .mainSearch,
    .blocks {
        max-width: 700px;
    }
    .mainSearch {
        justify-content: center;
        text-align: center;
    }
    .mainSearch div:first-child h4 {
        margin-bottom: 0;
    }
    .mainSearch img {
        display: none;
    }
    .blocks {
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .blocks div {
        margin: 10px 0;
    }
}

@media (max-width: 740px) {
    .mainSearch,
    .blocks {
        max-width: 623px;
    }

    .blocks {
        justify-content: center;
    }
}

@media (max-width: 700px) {
    .mainSearch div:first-child {
        width: 90vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .mainSearch div:first-child h1 {
        font-size: 2rem;
        line-height: normal;
    }
    .mainSearch div:first-child h4 {
        font-size: 1rem;
    }
}