.footer {
    padding: 0 15px;
    background-color: var(--dark-gray);
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer div {
    max-width: 1320px;
    width: 100%;
}
.footer p {
    color: var(--gray);
}