.card {
    width: 292px;
    padding: 24px;
    border-radius: 8px;
    transition: 0.4s;
    user-select: none;
}
.card:hover {
    box-shadow: 0px 12px 48px 0px rgba(0, 44, 109, 0.10);
    transition: 0.4s;
}
.card div:first-child {
    margin-bottom: 24px;
}
.card div h4 {
    margin-bottom: 12px;
}
.card div p {
    color: var(--gray);
}

@media (max-width: 840px) {
    .card:hover {
        box-shadow: none;
    }
}