.loginRegister {
    width: 100%;
    height: 94vh;
    padding: 3vh 0;
}

.logo a {
    width: max-content;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.logo a h3 {
    margin-left: 5px;
}

.loginRegister form {
    width: 600px;
    margin: 20vh auto 0 auto;
    text-align: center;
    padding: 15px;
}
.loginRegister form h2 {
    margin-bottom: 30px;
}
.loginRegister form input {
    width: 558px;
    height: 40px;
    margin: 8px 0;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    border: 1px solid var(--gray);
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.4s;
}
.loginRegister form input:hover,
.loginRegister form input:focus {
    background-color: var(--gray-blue);
    transition: 0.4s;
}

.loginRegister form button {
    font-weight: 600;
    width: inherit !important;
    background-color: var(--blue);
    color: var(--white);
    transition: 0.4s;
    margin-bottom: 15px;
}
.loginRegister form button:hover {
    background-color: var(--white);
    color: var(--blue);
    transition: 0.4s;
}
.loginRegister form a {
    color: var(--gray);
}
.loginRegister form a:hover {
    text-decoration: underline;
}

@media (max-width: 640px) {
    .loginRegister {
        height: 80vh;
    }

    .loginRegister form {
        width: 300px;
        margin-top: 15vh;
    }
    .loginRegister form h2 {
        font-size: 27px !important;
    }
    .loginRegister form input {
        width: 258px;
    }
}